body{
    background-image: url(w2.jpg);
    border-image-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#header{
    background-color: black;
    color: white;
}


#Name{
    float: left;
    width: 60%;
    overflow: hidden;
}

#home{
    overflow: hidden;
}

h3{
    float: left;
    margin-left: 20px;
}

#red{
    color: red;
    background-color: black;
}

#Web{
    margin-top: 150px;
    text-align: center;
    color: whitesmoke;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#Lorem {
    text-align: center;
    color: whitesmoke;
    margin-top: 150px;
}